img{
    width: 400px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
body{
    padding-left: 100px;
    padding-right: 100px;
    font-size: medium;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1,h3,p{
    text-align: center;
}